{% assign isOnHolidaySale = false %}
<!-- fc 041123 -->
{% assign isBundlePack = false %}
{% assign bndlVariants = '' %}
{% assign bndlVariants2 = '' %}
{% assign packProducts = '' %}
{% assign isBundleBraExtra = '' %}
{% assign packPrice = '' %}

{% if product.type == "Bra Pack" %}
  {% assign isBundleBraExtra = product.compare_at_price | money_without_trailing_zeros %}
{% endif %}
{% if product.type contains "Cotton" %}
    {%- assign showQuickAdd = true -%}
{% elsif product.type contains "Bra Pack" or product.type contains "Season Set" %}
    {%- assign showQuickAdd = false -%}
{% endif %}


{% for prodTag in product.tags %}
  {% if prodTag contains "elegance23" or prodTag contains "apparelSale-apr2023" %}
    {% assign isOnHolidaySale = true %}
  <!-- tags--->
  {%- elsif prodTag contains 'fyca23' %}
      {% assign bndlVariants = prodTag | remove: 'fyca23-' %}
      {% assign isBundlePack = true %}
  {% elsif prodTag contains 'fycb23' %}
      {% assign bndlVariants2 = prodTag | remove: 'fycb23-' %}
  {%  elsif prodTag contains 'packProducts' %}
      {% assign packProducts = prodTag | remove: 'packProducts-' %}   
  {%  elsif prodTag contains 'packPrice' %}
      {% assign packPrice = prodTag | remove: 'packPrice-' %}
  {% endif %}
{% endfor %}

{% if isOnHolidaySale %}
    {% assign isSubscriber = false%}
    {% if customer.tags contains 'Active Subscriber' %}
      {% assign isSubscriber = true%}
    {% endif %}
    {% assign premSkuCodes = ""%}
    {% assign holidayDiscounts = "30%,30%,30%,30%,30%,30%,30%,30%,30%,30%" | split: ',' %}
    {% assign holidayCodes = "BK,CR,TO,WB,KK,MI,WS,RP,CG,CP,NC" | split: "," %}
    {% assign currSkuCode = product.selected_or_first_available_variant.sku | slice: 7, 2 %}
    {% assign holidayCottonDiscounts = "50%,60%,50%,60%" | split: ',' %}
    {% assign holidayCottonCodes = "BO,LG,BK,FR" | split: "," %}

    {% if product.type contains "Silk" %}
        {% assign currSaleDiscount = "40%" %}
    {% elsif product.type == "Bodysuit" %}
        {% assign currSaleDiscount = "40%" %}
    {% elsif product.type == "Cotton Bralette" or product.type == "Cotton Underwear" %}
        {% if holidayCottonCodes contains currSkuCode %}
          {% for skuCode in holidayCottonCodes %}
            {% if currSkuCode == skuCode %}
              {% assign skuCodeIndex = forloop.index0 %}
              {% break %}
            {% endif %}
          {% endfor %}
        {% endif %}
      
        {% assign currSaleDiscount = holidayCottonDiscounts[skuCodeIndex] %}
    {% elsif product.type == "Season Set" %}
      {% assign currSaleDiscount = "30%" %}
    {% elsif product.type == "Bra Pack" %}
      {% assign currSaleDiscount = "30%" %}
      {% for prodTag in product.tags %}
        {% if prodTag contains 'bundleFabric-mesh_and_signature'%}
          {% assign currSaleDiscount = "14.51%" %}
        {% endif %}
      {% endfor %}
    {% else %}
        {% if holidayCodes contains currSkuCode %}
          {% for skuCode in holidayCodes %}
            {% if currSkuCode == skuCode %}
              {% assign skuCodeIndex = forloop.index0 %}
              {% break %}
            {% endif %}
          {% endfor %}
        {% endif %}
      
        {% assign currSaleDiscount = holidayDiscounts[skuCodeIndex] %}
    {% endif %}

    {% comment %}
    {% assign currSaleDiscount = "40%" %}
    {% endcomment %}

    {% comment %}
    {% assign currSaleDiscount = "40%" %}
    {% endcomment %}
    {% if product.type == "Core Bralette" %}
        {% if product.title contains "Skyway" %}
          {% assign currSaleDiscount = "30%" %}
        {% endif %}
    {% elsif product.type contains "Mesh" %}
        {% if product.title contains "Reptile" %}
          {% assign currSaleDiscount = "20%" %}
        {% endif %}
    {% endif %}

    {% if isSubscriber %}
        {% assign currSaleDiscount = currSaleDiscount | replace: "%", "" | plus: 10 | append: "%" %}
    {% endif %}

{% else %}
    {% assign currSaleDiscount = "n_a" %}
{% endif %}


{% if product.type == "Season Set" %}
  {% for prodTag in product.tags %}
    {% if tempFab contains 'setTempFa-' %}
      {%- assign prodFabricTitle = "Only Bra & Panty Set" -%}
    {% elsif prodTag contains "setFabric-" %}
      {%- assign glueFab = ""-%}
      {%- assign tempFab = prodTag | replace: "setType-", "" -%}
      {% if tempFab contains 'mesh' %}
        {%- assign glueFab = "Bralette & "-%}  
        {%- assign prodFabricTitle = "Sheer Bra & Panty Set" -%}
      {% elsif tempFab contains 'signature' %}
        {%- assign glueFab = "Support & "-%}
        {%- assign prodFabricTitle = "Bra & Panty Set" -%}
      {% endif %}
    {% elsif prodTag contains "setType-" %}
      {%- assign gluePanty = ""-%}
      {%- assign tempFab = prodTag | replace: "setType-", "" -%}
      {% if tempFab contains 'high_waisted' %}
        {%- assign gluePanty = "High Waisted"-%}  
      {% elsif tempFab contains 'high_cut' %}
        {%- assign gluePanty = "High Cut"-%}
      {% elsif tempFab contains '_brief' %}
        {%- assign gluePanty = "Brief"-%}  
      {% elsif tempFab contains '_thong' %}
        {%- assign gluePanty = "Thong"-%}  
      {% endif %}
    {% endif %}
  {% endfor %}
  {% assign isBundleSetFrabric =  glueFab | append: gluePanty %}
{% endif %}

{%- assign hasFlag = "false" -%}
{% for prodTag in product.tags %}
  {% if prodTag == "flag-new_arrival" %}
    {% assign hasFlag = "true" %}
    {% assign prodFlag = "New" %}
  {% endif %}
  {% if prodTag == "flag-on_sale" %}
    {% assign hasFlag = "true" %}
    {% assign prodFlag = "Sale" %}
  {% endif %}
  {% if prodTag contains "prodFlag-" %}
    {% assign hasFlag = "true" %}
    {% assign prodFlag = prodTag | replace: "prodFlag-", "" | replace: "_", " " | capitalize %}
  {% endif %}
{% endfor %}
{% if product.type contains "Underwear" %}
    {% for prodTag in product.tags %}
        {% if prodTag contains "pantyType-" %}
            {%- assign tempTitle = prodTag | replace: "pantyType-", "" | replace: "_", " " -%}
            {% if tempTitle contains 'high cut' %}
              {% assign prodNameTitle = 'High Cut' %}
            {% elsif tempTitle contains 'highwaisted thong' %}
              {% assign prodNameTitle = 'High Waisted Thong' %}
            {% elsif tempTitle contains 'highwaisted' %}
              {% assign prodNameTitle = 'High Waisted' %}
            {% else %}
              {% assign prodNameTitle = tempTitle %}
            {% endif %}
        {% endif %}
        {% if prodTag contains "pantyColor-" %}
            {%- assign prodColorTitle = prodTag | replace: "pantyColor-", "" | replace: "_", " " -%}
        {% endif %}
        {% if prodTag contains "pantyFabric-" %}
            {% if prodTag == "pantyFabric-signature" %}
                {%- assign prodFabricTitle = "Seamless" -%}
            {% elsif prodTag == "pantyFabric-cotton" %}
                {%- assign prodFabricTitle = "Seamless" -%}
            {% else %}
                {% if product.type contains "Mesh" %}
                    {%- assign prodFabricTitle = "Seamless" -%}
                {% else %}
                    {%- assign prodFabricTitle = "Seamless" -%}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% elsif product.type contains "Bralette" %}
    {%- assign prodNameTitle = "Seamless" -%}
    {% for prodTag in product.tags %}
        {% if prodTag == "braletteType-wireless_seamless" %}
            {%- assign prodFabricTitle = "Wireless Bralette" -%}
        {% elsif prodTag contains "braletteFabric-" %}
            {% if prodTag == "braletteFabric-signature" %}
                {%- assign prodFabricTitle = "Support Bralette" -%}
            {% elsif prodTag == "braletteFabric-cotton" %}
                {%- assign prodFabricTitle = "Support Cotton" -%}
            {% elsif product.type contains "Mesh" %}
              {%- assign prodFabricTitle = "Sheer Bralette" -%}
            {% else %}
               {%- assign prodFabricTitle = "Err Add p type" -%}
            {% endif %}
        {% endif %}
    {% endfor %}
{% elsif product.type contains "Core Bra" %}
    {%- assign prodNameTitle = "Seamless" -%}
    {% for prodTag in product.tags %}
        {% if prodTag contains "braletteFabric-" %}
            {% if prodTag == "braletteFabric-signature" %}
                {%- assign prodFabricTitle = "Only Bra" -%}
            {% elsif prodTag == "braletteFabric-cotton" %}
                {%- assign prodFabricTitle = "Err add p type" -%}
                    {% else %}
                        {% if product.type contains "Mesh" %}
                    {%- assign prodFabricTitle = "Sheer Bralette" -%}
                {% else %}
                    {%- assign prodFabricTitle = "Err Add p type" -%}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% elsif product.type == "Wrap Top" %}
    {%- assign prodNameTitle2 = "Wrap Top" -%}
    {% for prodTag in product.tags %}
        
        {% if prodTag contains "wrapFabric-" %}
            {% if prodTag == "wrapFabric-signature" %}
                {%- assign prodFabricTitle = "Seamless" -%}
            {% else %}
                {%- assign prodFabricTitle = prodTag | replace: "wrapFabric-", "" | replace: "_", " " -%}
            {% endif %}
        {% endif %}
    {% endfor %}
{% elsif product.type == "Silk Blouse" %}
  {%- assign prodFabricTitle = "blouse" -%}
  {%- assign prodNameTitle = "washable eco silk" -%}
  
{% elsif product.type == "Silk Tank" %}
  {%- assign prodFabricTitle = "tank" -%}
  {%- assign prodNameTitle = "washable eco silk" -%}
  
{% elsif product.type == "Silk Shorts" %}
  {%- assign prodFabricTitle = "shorts" -%}
  {%- assign prodNameTitle = "washable eco silk" -%}
  {% for prodTag in product.tags %}
      {% if prodTag contains "shortsColor-" %}
          {%- assign prodColorTitle = prodTag | replace: "shortsColor-", "" | replace: "_", " " -%}
      {% endif %}
  {% endfor %}
{% elsif product.type == "Silk Scarf" %}
  {%- assign prodFabricTitle = "scarf" -%}
  {%- assign prodNameTitle = "washable eco silk" -%}
  
{% elsif product.type == "Silk Dress" %}
  {%- assign prodFabricTitle = "slip dress" -%}
  {%- assign prodNameTitle = "washable eco silk" -%}
 
{% elsif product.type == "Silk Pants" %}
  {%- assign prodFabricTitle = "pants" -%}
  {%- assign prodNameTitle = "washable eco silk" -%}

{% elsif product.type == "Long Silk Dress" %}
  {%- assign prodFabricTitle = "long slip dress" -%}
  {%- assign prodNameTitle = "washable eco silk" -%}
 
{% elsif product.type == "Bodysuit" %}
    {%- assign prodFabricTitle = "Bodysuit" -%}
    {% for prodTag in product.tags %}
       
        {% if prodTag contains "bodysuitFabric-" %}
            {% if prodTag == "bodysuitFabric-signature" %}
                {%- assign prodNameTitle = "Seamless" -%}
            {% else %}
                {%- assign prodFabricTitle = prodTag | replace: "bodysuitFabric-", "" | replace: "_", " " -%}
            {% endif %}
        {% endif %}
    {% endfor %}
{% elsif product.type contains "Bra Pack" %}
    {% for prodTag in product.tags %}
      {% if prodTag contains "bundleType-" %}
        {%- assign prodNameTitle = prodTag | replace: "bundleType-", "" | replace: "_", " " -%}
      {% endif %}
     
      {% if prodTag contains "bundleFabric-" %}
        {% if prodTag == "bundleFabric-signature" %}
          {%- assign prodFabricTitle = "Support" -%}
        {% elsif prodTag == "bundleFabric-mesh" %}
          {%- assign prodFabricTitle = "Seamless" -%}
        {% elsif prodTag == "bundleFabric-mesh_and_signature" %}
          {%- assign prodFabricTitle = "Sheer & Support" -%}
        {% else %}
          {%- assign prodFabricTitle = "Seamless" -%}
        {% endif %}
      {% endif %}
    {% endfor %}
{% elsif product.type contains "Pack" %}
    {%- assign prodFabricTitle = 'Seamless' -%}
{% elsif product.type == "Tank" %}
    {%- assign prodNameTitle = "Seamless" -%}
    {%- assign prodFabricTitle = "Tank" -%}    
{% endif %}

{% if prodNameTitle == "highwaisted_thong" %}
    {% assign prdImgFileName = "hwthong" %}
{% else %}
    {% assign prdImgFileName = prodNameTitle %}
{% endif %}

{% assign premImgFileName = prodColorTitle | replace: " ", "" | append: "---" | append: prdImgFileName | append: "---missy---tile_fr.jpg" %}

<div class="col velaProBlock quickadd carousel-item ept epcWrapper{% if isOnHolidaySale %} this_sale{% endif %}" 
  data-size-guid="{% render 'collection-selectors-charts', product_target: product %}" 
  data-prodtitle="{{ product.title }}"
  data-prodsku="{{ product.id }}"
  data-prodtype="{{ product.type }}"
  data-prodprice="{{ product.price | money_without_currency }}"
  data-discount="{{ currSaleDiscount }}"
  >
  <div class="col-wrap velaProBlockInner">
    {% if hasFlag == "true" %}
      <div class="prodTileFlag">
        <div class="prodTileFlagInnerWrapper">
          <span>{{ prodFlag }}</span>
        </div>
      </div>
    {% endif %}
    <div class="product-image proHImage d-flex flexJustifyCenter">
      <a class="proFeaturedImage" href="{{ product.url }}" >
        {% for image in product.images %}
          {%- assign itemNumber = forloop.index -%}
          {%- if itemNumber == 1 -%}
            <img class="lazyload" width="176" height="219" alt="{{ image.alt }}" title="{{ image.alt }}" src="data:image/gif;base64,R0lGODlhAQABAPAAAMzMzAAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{{ image | img_url: 'master' }}">
          {%- endif -%}
        {% endfor %}
        <div class="col-pro-details">
          {% if product.type contains "Underwear" %}
          <h3 href="{{ product.url }}" draggable="false">
            <span class="cy-testClName " data-cyclname="{{prodNameTitle}}">{{ prodNameTitle | capitalize  }}</span>
            <span class="cy-testClFabric color" data-cyclfabric="{{prodFabricTitle}}">{{ prodFabricTitle| capitalize  }}</span>
          </h3>
          {% elsif product.type contains "Bra Pack" %}
          <h3 href="{{ product.url }}" draggable="false">
            <span class="cy-testClName" data-cyclname="{{prodNameTitle}}">{{ prodNameTitle | capitalize  }}</span>
            <span class="cy-testClFabric color" data-cyclfabric="{{prodFabricTitle}}">{{ prodFabricTitle| capitalize  }}</span>
          </h3>
          {% elsif product.type contains "Season Set" %}
          <h3 href="{{ product.url }}" draggable="false">
            <span class="cy-testClFabric" data-cyclfabric="{{prodFabricTitle}}">{{ prodFabricTitle| capitalize  }}</span>
            <span class="cy-testClName color" data-cyclname="{{isBundleSetFrabric}}">{{ isBundleSetFrabric | capitalize  }}</span>
          </h3>
          {% else %}
          <h3 href="{{ product.url }}" draggable="false">
            <span class="cy-testClFabric " data-cyclfabric="{{prodFabricTitle}}">{{ prodFabricTitle| capitalize  }}</span>
            <span class="cy-testClName color" data-cyclname="{{prodNameTitle}}">{{ prodNameTitle | capitalize  }}</span>
          </h3>
          {% endif %}
        </div>
      </a>
    </div>
    <div class="product-details proButton clearfix">
      <div class="quick_btn">
        <div class="productQuickAdd">
          <button class="btn btnProduct btnProductQuickAdd" data-cybestsell="best-sells-{{product.id}}" data-href="#velaQuickAdd-{{ product.id }}" data-handle="{{ product.handle }}" title="Quick Add +">
            <div class="quickAddBtnInnerWrapper" {% if isBundlePack %}id="eby-bundle-bras23-{{ product.id }}" data-typepdp="{{ product.type }}" data-packprice="{{packPrice}}" data-mainids="{{packProducts}}" data-bundlepdp="{{bndlVariants}}" data-bundlepdp2="{{bndlVariants2}}" {% endif %}>
              <span class="text">Add to Cart</span>
              <div class="prodTilePriceWrapper{% if customer.tags contains 'Active Subscriber' and product.metafields.ebyacf.vip_product_price %} vipHighlight{%endif%}">
                <p class="price bfx-price">{{ product.price | money_without_trailing_zeros }}</p>
                {% if isOnHolidaySale %}
                {% if product.type contains "Cotton" %}
                    {% assign perOff = currSaleDiscount | replace: "%", "" %}
                {% else %}
                    {% assign perOff = currSaleDiscount | replace: "%", "" %}
                {% endif %}
                {% if customer.tags contains 'Active Subscriber' %}
                    {% assign subscriberPrice = product.metafields.ebyacf.vip_product_price  | replace: '( $', '' | replace: ' )', '' | replace: ' members', '' %}                          
                    {% assign subscriberDiscount = product.price | money_without_currency | minus: subscriberPrice  %}
                    {% assign holidayMoneyOff = subscriberPrice | times: perOff | round %}
                    {% assign moneyOff = holidayMoneyOff | money_without_currency | plus: subscriberDiscount %}
                {% else %}
                    {% assign moneyOff = product.price | divided_by: 100 | round: 2 | times: perOff | round | money_without_currency %}
                {% endif %}
                <div class="priceProduct holidayPriceWrapper ebyProdTile-vipPriceWrapper strikethrough bfx-price">{{ product.price | money_without_trailing_zeros}}</div>
                <div class="holidayPriceWrapper standard saleHighlight bfx-price">{{ product.price | divided_by: 100 | round: 2 | minus: moneyOff | round: 2 | times: 100 | round | money_without_trailing_zeros }}</div>
                {% endif %}
                {% if isOnDealSale and isOnHolidaySale == false %}
                    <div class="priceProduct holidayPriceWrapper ebyProdTile-vipPriceWrapper strikethrough bfx-price">{{ product.price | money_without_trailing_zeros}}</div>
                    <div class="holidayPriceWrapper standard saleHighlight bfx-price">{{ dealSalePrice | money_without_trailing_zeros }}</div>
                {% endif %}
                {% if product.type == "Bra Pack" or product.type == "Season Set" %}
                    <div class="ebyProdTile-vipPriceWrapper bfx-remove-element">
                      <p class="bfx-price">{{ isBundleBraExtra }}</p>
                    </div>
                {% endif %}
                {% if customer.tags contains 'Active Subscriber' %}
                {% if product.type == "Mask"%}
                {% if shop.metafields.ebyacf.enable_holiday_mode-vip_pg or shop.metafields.ebyacf.enable_holiday_mode-coll_pg %}
                <div class="priceProduct {% if customer.tags contains 'Active Subscriber' %}vipHighlight {%endif%}{% if on_sale %}priceSale bfx-sale-price{% endif %}bfx-price">{{ product.metafields.ebyacf.vip_product_price | replace: '/ ', '' | replace: ' members', ''  }}</div>
                {% else %}
                <div class="priceProduct {% if customer.tags contains 'Active Subscriber' %}vipHighlight {%endif%}{% if on_sale %}priceSale bfx-sale-price{% endif %}bfx-price">{{ product.price | money_without_trailing_zeros  }}</div>
                {% endif %}
                <div class="ebyProdTile-vipPriceWrapper bfx-remove-element">
                  {% if shop.metafields.ebyacf.enable_holiday_mode-vip_pg or shop.metafields.ebyacf.enable_holiday_mode-coll_pg %}
                  {%- assign discount = product.price | times: 44 | divided_by: 100 -%}
                  {%- assign holidayPrice = product.price | minus: discount | money_without_currency -%}
                  {% comment %}
                  <p>/ <span class="ebyHolidayPrice bfx-sale-price bfx-price">${{holidayPrice}}</span> <span class="ebyHolidayDiscount bfx-price">{{ shop.metafields.ebyacf.sitewide_discount_price }}% Off</span></p>
                  {% endcomment %}
                  <p>/ <span class="ebyHolidayPrice bfx-sale-price bfx-price">$6</span> <span class="ebyHolidayDiscount bfx-price">{{ shop.metafields.ebyacf.sitewide_discount_price }} Off</span></p>
                  {% else %}
                  <p class="bfx-price">{{product.metafields.ebyacf.vip_product_price | replace: "( " | replace: " members )"}}</p>
                  {% endif %}
                </div>
                {% elsif product.type == "Core Bralette" or product.type == "Core Bra" or product.type == "Cotton Bralette" or product.type == "Mesh Bralette" %}
                  {% if shop.metafields.ebyacf.enable_holiday_mode-vip_pg or shop.metafields.ebyacf.enable_holiday_mode-coll_pg %}
                  <div class="priceProduct {% if customer.tags contains 'Active Subscriber' %}vipHighlight {%endif%}{% if on_sale %}priceSale bfx-sale-price{% endif %}bfx-price">{{ product.metafields.ebyacf.vip_product_price | replace: '/ ', '' | replace: ' members', ''  }}</div>
                  {% else %}
                  <div class="priceProduct {% if customer.tags contains 'Active Subscriber' %}vipHighlight {%endif%}{% if on_sale %}priceSale bfx-sale-price{% endif %}bfx-price">{{ product.price | money_without_trailing_zeros  }}</div>
                  {% endif %}
                  <div class="ebyProdTile-vipPriceWrapper bfx-remove-element">
                    {% if shop.metafields.ebyacf.enable_holiday_mode-vip_pg or shop.metafields.ebyacf.enable_holiday_mode-coll_pg %} 
                    {%- assign discount = product.price | times: 42.27 | divided_by: 100 -%}
                    {%- assign holidayPrice = product.price | minus: discount | money_without_currency -%}
                    {% comment %}
                    <p>/ <span class="ebyHolidayPrice bfx-sale-price bfx-price">${{holidayPrice}}</span> <span class="ebyHolidayDiscount bfx-price">{{ shop.metafields.ebyacf.sitewide_discount_price }}% Off</span></p>
                    {% endcomment %}
                    <p>/ <span class="ebyHolidayPrice bfx-sale-price bfx-price">$20</span> <span class="ebyHolidayDiscount bfx-price">{{ shop.metafields.ebyacf.sitewide_discount_price }} Off</span></p>
                    {% else %}
                    <p class="bfx-price">{{product.metafields.ebyacf.vip_product_price | replace: "( " | replace: " members )"}}</p>
                    {% endif %}
                  </div>
                {% elsif product.type == "Wrap Top" or product.type contains "Silk" %}
                  {% if shop.metafields.ebyacf.enable_holiday_mode-vip_pg or shop.metafields.ebyacf.enable_holiday_mode-coll_pg %}
                  <div class="priceProduct {% if customer.tags contains 'Active Subscriber' %}vipHighlight {%endif%}{% if on_sale %}priceSale bfx-sale-price{% endif %}bfx-price">{{ product.metafields.ebyacf.vip_product_price | replace: '/ ', '' | replace: ' members', ''  }}</div>
                  {% else %}
                  <div class="priceProduct {% if customer.tags contains 'Active Subscriber' %}vipHighlight {%endif%}{% if on_sale %}priceSale bfx-sale-price{% endif %}bfx-price">{{ product.price | money_without_trailing_zeros  }}</div>
                  {% endif %}
                  <div class="ebyProdTile-vipPriceWrapper bfx-remove-element">
                    {% if shop.metafields.ebyacf.enable_holiday_mode-vip_pg or shop.metafields.ebyacf.enable_holiday_mode-coll_pg %} 
                    {%- assign discount = product.price | times: 42.27 | divided_by: 100 -%}
                    {%- assign holidayPrice = product.price | minus: discount | money_without_currency -%}
                    {% comment %}
                    <p>/ <span class="ebyHolidayPrice bfx-sale-price bfx-price">${{holidayPrice}}</span> <span class="ebyHolidayDiscount bfx-price">{{ shop.metafields.ebyacf.sitewide_discount_price }}% Off</span></p>
                    {% endcomment %}
                    <p>/ <span class="ebyHolidayPrice bfx-sale-price bfx-price">$20</span> <span class="ebyHolidayDiscount bfx-price">{{ shop.metafields.ebyacf.sitewide_discount_price }} Off</span></p>
                    {% else %}
                    <p class="bfx-price">{{product.metafields.ebyacf.vip_product_price | replace: "( " | replace: " members )"}}</p>
                    {% endif %}
                  </div>
                {% elsif product.type == "Core Underwear" and product.tags contains "Featured Style" or product.type == "Mesh Underwear" %}
                {% if shop.metafields.ebyacf.enable_holiday_mode-vip_pg or shop.metafields.ebyacf.enable_holiday_mode-coll_pg %}
                <div class="priceProduct {% if customer.tags contains 'Active Subscriber' %}vipHighlight {%endif%}{% if on_sale %}priceSale bfx-sale-price{% endif %}bfx-price">{{ product.metafields.ebyacf.vip_product_price | replace: '/ ', '' | replace: ' members', ''  }}</div>
                {% else %}
                <div class="priceProduct {% if customer.tags contains 'Active Subscriber' %}vipHighlight {%endif%}{% if on_sale %}priceSale bfx-sale-price{% endif %}bfx-price">{{ product.price | money_without_trailing_zeros  }}</div>
                {% endif %}
                <div class="ebyProdTile-vipPriceWrapper bfx-remove-element">
                  {% if shop.metafields.ebyacf.enable_holiday_mode-vip_pg or shop.metafields.ebyacf.enable_holiday_mode-coll_pg %} 
                  {%- assign discount = product.price | times: 44 | divided_by: 100 -%}
                  {%- assign holidayPrice = product.price | minus: discount | money_without_currency -%}
                  {% comment %}
                  <p>/ <span class="ebyHolidayPrice bfx-sale-price bfx-price">${{holidayPrice}}</span> <span class="ebyHolidayDiscount bfx-price">{{ shop.metafields.ebyacf.sitewide_discount_price }}% Off</span></p>
                  {% endcomment %}
                  <p>/ <span class="ebyHolidayPrice bfx-sale-price bfx-price">$9</span> <span class="ebyHolidayDiscount bfx-price">{{ shop.metafields.ebyacf.sitewide_discount_price }} Off</span></p>
                  {% else %}
                  <p class="bfx-price">{{product.metafields.ebyacf.vip_product_price | replace: "( " | replace: " members )"}}</p>
                  {% endif %}
                </div>
                {% elsif product.type == "Core Underwear" or product.type == "Cotton Underwear" or product.type == "Tank"  or product.type == "Bodysuit" or product.type == "Mesh Underwear" %}
                {% if shop.metafields.ebyacf.enable_holiday_mode-vip_pg or shop.metafields.ebyacf.enable_holiday_mode-coll_pg %}
                <div class="priceProduct {% if customer.tags contains 'Active Subscriber' %}vipHighlight {%endif%}{% if on_sale %}priceSale bfx-sale-price{% endif %}bfx-price">{{ product.metafields.ebyacf.vip_product_price | replace: '/ ', '' | replace: ' members', '' }}</div>
                {% else %}
                <div class="priceProduct {% if customer.tags contains 'Active Subscriber' %}vipHighlight {%endif%}{% if on_sale %}priceSale bfx-sale-price{% endif %}bfx-price">{{ product.price | money_without_trailing_zeros  }}</div>
                {% endif %}
                <div class="ebyProdTile-vipPriceWrapper bfx-remove-element">
                  {% if shop.metafields.ebyacf.enable_holiday_mode-vip_pg or shop.metafields.ebyacf.enable_holiday_mode-coll_pg %} 
                  {%- assign discount = product.price | times: 43.24 | divided_by: 100 -%}
                  {%- assign holidayPrice = product.price | minus: discount | money_without_trailing_zeros  -%}
                  {% comment %}
                  <p>/ <span class="ebyHolidayPrice bfx-sale-price bfx-price">${{holidayPrice}}</span> <span class="ebyHolidayDiscount bfx-price">{{ shop.metafields.ebyacf.sitewide_discount_price }}% Off</span></p>
                  {% endcomment %}
                  <p>/ <span class="ebyHolidayPrice bfx-sale-price bfx-price">$7.50</span> <span class="ebyHolidayDiscount bfx-price">{{ shop.metafields.ebyacf.sitewide_discount_price }} Off</span></p>
                  {% else %}
                  <p class="bfx-price">{{product.metafields.ebyacf.vip_product_price | replace: "( " | replace: " members )" }}</p>
                  {% endif %}
                </div>
                {% elsif product.type contains "Premium" %}

                <div class="priceProduct {% if on_sale %}priceSale bfx-sale-price{% endif %}{% if product.metafields.ebyacf.evergreen_price_test %} st-tangentPrice{%endif%} bfx-price">{{ product.price | money_without_trailing_zeros  }}</div>

                {% elsif product.type contains "Surprise Panty Pack" %}

                <div class="priceProduct {% if on_sale %}priceSale bfx-sale-price{% endif %}{% if product.metafields.ebyacf.evergreen_price_test %} st-tangentPrice{%endif%} bfx-price">{{ product.price | money_without_trailing_zeros  }}</div>

                {% endif %}

                {% else %}
                <div class="ebyProdTile-vipPriceWrapper bfx-remove-element">
                  {% if shop.metafields.ebyacf.enable_holiday_mode-vip_pg or shop.metafields.ebyacf.enable_holiday_mode-coll_pg %}
                  {%- assign discount = product.price | times: shop.metafields.ebyacf.sitewide_discount_price | divided_by: 100 -%}
                  {%- assign holidayPrice = product.price | minus: discount | money_without_trailing_zeros  -%}
                  <p>/ <span class="ebyHolidayPrice bfx-sale-price bfx-price">${{holidayPrice}}</span> <span class="ebyHolidayDiscount bfx-price">{{ shop.metafields.ebyacf.sitewide_discount_price }} Off</span></p>
                  {% else %}
                  <p class="bfx-price">{{product.metafields.ebyacf.vip_product_price | replace: "( " | replace: " members )" }}</p>
                  {% endif %}
                </div>
                {% endif %}
              </div>
            </div>
          </button>
          <div class="selection-wrapper" id="velaQuickAdd-{{ product.id }}"></div>
        </div>
        <article class="qab-footer">
            <span class="colReviewAggrWrapper" draggable="false">
              <span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}" data-product-sku="{{ product.selected_or_first_available_variant.sku }}" data-product-title="{{ product.title | escape }}" data-product-type="{{ product.type }}" style="display: block;"></span>
            </span>
            {% unless isOnHolidaySale or isOnDealSale %}
            {% if product.metafields.ebyacf.vip_product_price %}
            <span class="quickAddPriceNote{% if customer.tags contains 'Active Subscriber' and product.metafields.ebyacf.vip_product_price != "" %} vipHighlight{%endif%}">subscriber price</span>
            {% endif %}
            {% endunless %}
            {% if isOnHolidaySale or isOnDealSale %}
            <span class="quickAddPriceNote vipHighlight">sale price</span>
            {% endif %}
        </article>
      </div>
    </div>
  </div>
</div>